body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
main{
  display: flex;
  flex-direction: column;
  width: 90cqw;
  height: 95cqh;
  margin: auto;
}
.stage {
  /* neutral color for the page BG */
  background-color: beige;
  display: grid;
  margin: auto;
  width: 100%;
  height: 100cqw;
}

.easy /* 12 cards*/ {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
}

.medium /* 16 cards*/ {
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
}

.hard /*24 cards*/ {
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  user-select: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

/* button styling */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper div{
  flex: 0 1 33%;
  text-align: center;
}

#score {
  font-size: 25px;
}

.buttons-wrapper{
  display: flex;
  padding-bottom: 20px;
  gap: 30px;
  align-items: center;
}
#start{
  background-color: rgb(45, 228, 45);
}
#reset{
  background-color: rgb(223, 59, 59);
}
button {
  border-radius: 5px;
  font-size: 23px;
  padding: 15px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  box-shadow: 5px 5px rgb(157, 156, 156);
  flex: 0 1 50%;
}

/* card animations */

/* styling for timer, headers, game messages, etc */

.timer {
  padding-bottom: 20px;
  color: black;
  font-size: 25px;
}

.title {
  color: rgb(163, 54, 11);
  font-size: 65px;
  display: flex;
  justify-content: center;
}

/* .completionMessage {
  color: chocolate;
  font-size: 80px;
  display: flex;
  justify-content: center;
}*/

/*-----------------------------------------------------------------------------------------------------*/

.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  pointer-events: none;
  border-radius: 15px;
}

.card .card_front {
  width: 100%;
  height: 100%;
  background: #23292c;
  background-image: url(../image/GC_After_Dark_Shirt_Logo_2019-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card .card_back {
  background: lightslategray;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  transform: rotateY(180deg);
  pointer-events: none;
}
